extends layout

block content
  div.slide-show
    img.slider-images.active(src="images/att.jpg" alt="ATT")
    img.slider-images(src="images/IBM.jpg" alt="IBM")
    img.slider-images(src="images/Dell.jpg" alt="Dell")
    img.slider-images(src="images/Microsoft.jpg" alt="Microsoft")
    img.slider-images(src="images/Facebook.jpg" alt="Facebook")
    img.slider-images(src="images/Google.jpg" alt="Google")
    img.slider-images(src="images/HP.jpg" alt="HP")
    img.slider-images(src="images/Apple.jpg" alt="Apple")
    img.slider-images(src="images/GoldmanSachs.jpg" alt="GoldmanSachs")
    img.slider-images(src="images/JPMorgan.jpg" alt="JPMorgan")
    img.slider-images(src="images/Indeed.jpg" alt="Indeed")
    img.slider-images(src="images/MongoDb.jpg" alt="MongoDb")
    img.slider-images(src="images/RapidApi.jpg" alt="RapidApi")
    img.slider-images(src="images/Chevron.jpg" alt="Chevron")
  div.intel-data
    div.intel-row Gender  : #{gender}
    div.intel-row Age     : #{age}
    div.intel-row Emotion : #{emotion}
    div.intel-row Status  : #{income}
