body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.slider-images{
  width: 100%;
  height: 800px;
  display: none;
}

.active {
	display: block;
}

.intel-data{
	position: absolute;
    top: 50px;
    right: 30px;
    padding: 10px;
    background: white;
    color: blue;
    font-size: larger;	
    margin: 10px;
    border: 1px solid blue;    
}

.live-image{
	position: absolute;
    top: 300px;
    right: 50px;
    padding: 10px;
    background: white;
    width: 150px;
    height: 150px;	
    margin: 10px;
    border: 1px solid blue;
}

.custom-image{
	width: 100%;
}

.hide {
	display:none;
}