body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.slider-images{
  width: 100%;
  height: 800px;
  display: none;
}

.active {
	display: block;
}

.intel-data{
	position: absolute;
    top: 50px;
    right: 165px;
    padding: 10px;
    background: white;
    color: black;
    font-size: larger;	
    margin: 10px;
    border: 1px solid blue;    
}

.live-image{
	position: absolute;
    top: 300px;
    right: 150px;
    padding: 10px;
    background: white;
    width: 200px;
    height: 150px;
}

.custom-image{
	width: 100%;
    padding: 10px;
    border: 1px solid blue;	
}

.hide {
	display:none;
}

video {
	width: 800px;
	height: 600px;
}